head
	link(href='css/normalize.css' rel='stylesheet')
	link(href='css/skeleton.css' rel='stylesheet')
	link(href='css/site.css' rel='stylesheet')

	script(src='//unpkg.com/mithril/mithril.js') 
	script(src='js/site.js') 
	script(src='https://maps.googleapis.com/maps/api/js?key='+map_key+'') 

	title Hole Heat Calculator

body
